<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'history_page.css' %}" />
  </head>
  <body>
    <button id="back_btn" title="Go back to previous page">Back</button>
    <h1>Caree Predictions</h1>
    <p></p>
    <!-- <section>
      {%for entry in user_data reversed %}
      <div class="user-entry" style="column-count: 1">
        <p><strong>Course:</strong> {{ entry.user_course }}</p>
        <p><strong>Skills:</strong> {{ entry.user_skills }}</p>
        <p><strong>Industry:</strong> {{ entry.user_industry }}</p>
        <p><strong>Interest:</strong> {{ entry.user_interest }}</p>
      </div>
      {%endfor%} -->
      {% for prediction_result in prediction_results reversed %}
      <div class="prediction_result">
        <h3>Career Prediction Results:</h3>
        <p><strong>Career One:</strong> {{ prediction_result.career_one }}</p>
        <p><strong>Career Two:</strong> {{ prediction_result.career_two }}</p>
        <p>
          <strong>Career Three:</strong> {{ prediction_result.career_three }}
        </p>
      </div>
      {%endfor%}
    </section>
  </body>

  <script>
    document.getElementById("back_btn").addEventListener("click", function () {
      window.history.back();
    });
  </script>
</html>
